.feature-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    background-color: white ;
    
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    transition: all 0.2s ease-in-out;
    margin: 10px;
    background-size: cover;
}

.feature-card:hover {
    transform: scale(1.2)
}

.feature-card-text {
    max-width: 350px;
    text-align: center;
}

.feature-card-title {
    text-align: center;
    border-bottom: 3px solid var(--dark-green);
    padding-bottom: 10px;
}
