.login-creds {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding-left: 30px;
}

.login-title {
    text-align: center;
    margin-bottom: 10px;
}

.login-forms {
    border-radius: 0;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--dark-green);
    padding-left: 0px;
    width: 350px;
    margin-top: 20px;
}

.login-forms:focus {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--dark-green);
    padding-left: 0px;
    color: white;
    box-shadow: none;
}

.forgot-pass {
    text-align: right;
    margin: 0;
    margin-top: 5px;
}

.no-account {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 10px;
}

.green-creds-button {
    background-color: var(--dark-green);
    width: 100%;
    border: none;
    margin-top: 30px;
}

.green-creds-button:hover {
    background-color: var(--light-green);
}

.loading-button {
    background-color: var(--dark-green);
    width: 100%;
    border: none;
    margin-top: 30px;
}

.loading-button:disabled {
    background-color: var(--dark-green);
    color: white;
}

.white-creds-button {
    width: 100%;
    border: none;
}

.white-creds-button:hover {
    background-color: var(--light-grey);
}

.diff-pass {
    margin: 0;
    margin-top: 10px;
    max-width: 420px;
    font-size: 14px;
}

.fade-in-error {
    animation: fadeIn 0.5s;
    -webkit-animation: fadeIn 0.5s;
    -moz-animation: fadeIn 0.5s;
    -o-animation: fadeIn 0.5s;
    -ms-animation: fadeIn 0.5s;
  }
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@media (min-width:315px)  {
    /* phones */ 
    
.login-forms {
    border-radius: 0;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--dark-green);
    padding-left: 0px;
    width: 220px;
    margin-top: 20px;
}
.diff-pass {
    margin: 0;
    margin-top: 10px;
    max-width: 220px;
    font-size: 14px;
}



}

@media (min-width:768px)  {
    /* tablet, landscape iPad, lo-res laptops ands desktops */ 
    
.login-forms {
    border-radius: 0;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--dark-green);
    padding-left: 0px;
    width: 350px;
    margin-top: 20px;
}
.diff-pass {
    margin: 0;
    margin-top: 10px;
    max-width: 420px;
    font-size: 14px;
}


}

@media (min-width:1025px) {
    /* big landscape tablets, laptops, and desktops */
    
.login-forms {
    border-radius: 0;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--dark-green);
    padding-left: 0px;
    width: 350px;
    margin-top: 20px;
}
.diff-pass {
    margin: 0;
    margin-top: 10px;
    max-width: 420px;
    font-size: 14px;
}

    
}
