.feed-mid-navbar {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: nowrap;
    margin-right: 10px;
    margin-left: 10px;
}

.search-icon {
    background-color: var(--white);
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px 0px 0px 5px;
    padding: 7px;

}

.feed-search {
    background-color: var(--white);
    border-left: none;
    border-radius: 0px 5px 5px 0px;
    border: none;
    padding-left: 2px;
    
}

.feed-search:focus {
    box-shadow: none;
}


.chat-search-result-profile {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 30px;
    transition: all 0.3s;
    user-select: none;
}

.chat-search-result-profile:hover {
    background-color: var(--light-black);
}

.chat-search-result-profile-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.exit-icon {
    background-color: var(--dark-red);
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0px 5px 5px 0px;
    padding: 7px;
    transition: all 0.25s;
}

.exit-icon:hover {
    filter: brightness(0.7);
}